<html>
  <head>	
    <title>Demo app</title>
  </head>
  <body>
    <form name="input" method="get" action="/welcome" >
      Enter your name: <input type="text" name="name"><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>